<!-- Header -->
<header>
    <div class="container header-content">
        <div class="logo-container">
            <img src="imagenes/icono_vectorizado.svg" alt="Chef El Zorro Logo" class="logo">
            <div class="logo-text">
                <h1>El Zorro</h1>
            </div>
        </div>
        <nav>
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn" aria-label="Menú"><i class="fas fa-bars"></i></a>
                    <div class="dropdown-content">
                        <a href="index.html">Inicio</a>
                        <a href="productos.html">Productos</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>